{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{# STYLES #}
{% block styles %}
   {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
   <a class="button">Login</a>
   <button class="button">Login</button>
{% endblock %}
