<footer class="container">
	<hr>
	<ul class="d-flex justify-content-between">
		<li>
			<h3>
				Contact us
			</h3>
			<p>
				+33.6.71.66.24.26
			</p>
		</li>
		<li>
			<a href="#">Legal notices</a>
		</li>
	</ul>
</footer>
