<footer class="container">
	<hr>
	<ul>
		<li class="col-9">
			<h3>
				Nous contacter
			</h3>
			<p>
				+33.6.71.66.24.26
			</p>
		</li>
		<li class="m-0">
			<a href="#">Mentions légales</a>
		</li>
	</ul>
</footer>
