<header>
    <div class="container">
        <nav>
            <a id="logo" href="#"> <img src="{{ asset('/images/logo.svg') }}" alt="logo"></a>
            <ul>
                <li><a href="#">Order a report</a></li>
                <li><a href="#">Become a panelist</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
