<header>
    <div class="container">
        <nav>
            <a id="logo" href="{{ path('index') }}"> <img src="{{ asset('/images/logo.svg') }}" alt="logo"></a>
            <ul>
                <li><a href="#">Order a report</a></li>
                <li><a href="{{ path('app_register') }}">Become a panelist</a></li>
                <li><a class="button" href="{{ path('login') }}"> Login</a></li>
            </ul>
        </nav>
    </div>
</header>
