/* Header Class CSS */

header {

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    padding: 2rem 0;

    a:not(.button) {
      color: var(--color-black) !important;
    }

    img {
      height: 4rem;
      width: auto;
    }

    ul {
      display: flex;

      li {
        margin-left: 20px;
      }
    }
  }

  .button {
    color: var(--color-white);
  }
}