/* Header Class CSS */

header {

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    padding: 2rem 0;

    a:not(.button) {
      color: var(--color-black) !important;
    }

    img {
      height: 4rem;
      width: auto;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin-left: 20px;
      }
    }
  }

  .button {
    color: var(--color-white);
  }

  #nav-secondary {
    position: fixed;
    top: 10rem;
    right: 0;
    width: 0;
    height: calc(100vh - 10rem);
    overflow: hidden;
    transition: width .4s ease;

    &.active {
      width: 40rem;
    }

    & > div {
      position: relative;
      height: 100%;

      ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 40rem;
        height: 100%;
        margin: 0;
        padding: 4rem;
        background-color: var(--color-primary);
        z-index: 10000;

        li {
          margin-bottom: 1rem;

          a {
            display: block;
            font-size: 2.6rem;
            color: var(--color-white);
            transform: translateX(0);
            transition: transform .3s;

            &:hover {
              transform: translateX(.5rem);
            }
          }
        }
      }
    }
  }
}

/* nav-icon-5 */
.nav-icon-5{
  width: 50px;
  height: 12px;
  margin: 25px 10px 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span{
  background-color:#000000;
  position: absolute;
  border-radius: 2px;
  transition: .3s ease;
  width:100%;
  height: 1px;
  transition-duration: 500ms;
  opacity: 1;
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top:8px;
  left: 0px;
  opacity:1;
}

.nav-icon-5:not(.open):hover span:nth-child(1){
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
  width: 30px;
  transform: rotate(45deg);
  top: 4px;
}
.nav-icon-5.open span:nth-child(2){
  width: 30px;
  transform: rotate(-45deg);
  top: 4px;
}