{% extends 'admin/_partials/content.html.twig' %}

{% block page_title 'Dashboard' %}
{% block body_class 'page-content page-content-with-padding page-dashboard' %}

{% block page_content %}
    <h2>Titre</h2>
    <p>Voici un Contenu</p>
{% endblock %}