{% extends 'admin/_partials/content.html.twig' %}

{% block page_title 'Statistics' %}
{% block body_class 'page-content page-content-with-padding page-dashboard' %}

{% block page_content %}
	<div class="dashboard-statistics"></div>
{% endblock %}
