<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wired Beauty</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('header') }}
        {% block styles %}{% endblock %}
    </head>
    <body>
    {% include '_partials/header.html.twig' %}
    <div id="app-content">
        {% block body %}{% endblock %}
    </div>
    <footer></footer>
    {{ encore_entry_script_tags('app') }}
    {% block scripts %}{% endblock %}
    </body>
</html>
