{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{# STYLES #}
{% block styles %}
   {{ encore_entry_link_tags('home') }}
{% endblock %}

{# SCRIPTRS #}
{# {% block scripts %}{% endblock %} #}

{% block body %}

  <section id="presentation" class="container">

        <img src="{{ asset('/images/classe.jpeg') }}" alt="dame classieuse">
        <h1>New, different, better ways to research skincare</h1>

  </section>

{% endblock %}
