{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{# STYLES #}
{% block styles %}
   {{ encore_entry_link_tags('home') }}
{% endblock %}

{# SCRIPTRS #}
{# {% block scripts %}{% endblock %} #}

{% block body %}

  <section class="Hero container">
  <div class="row">
      <div class="Hero__container-text offset-1 col-6">
        <h1 class="Hero__container-text__title">New, different, better ways to research skincare</h1>
      </div>
      <div class="Hero__container-image col-6">
            <img class="Hero__container-image__image" src="{{ asset('/images/classe.jpeg') }}" alt="dame classieuse">
      </div>
  </div>        
  </section>

{% endblock %}
