{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('statistics') }}
{% endblock %}


{% block body %}

    <h3 style="text-align: center">Exemple GraphJS</h3>
    <div style="max-height: 500px; max-width: 500px; margin-left: auto; margin-right: auto;">
        <canvas id="myChart"></canvas>
    </div>
    <button class="button" onclick="savePDF('Stats of SPG products');">Export PDF</button>
{% endblock %}
