:root {
  --color-primary: #a42c23;
  --color-secondary: #db6a39;
  --color-black: #262626;
  --color-gray: #a5a5a5;
  --color-white: #fafafa;
  --color-green: #3dd643;
}

.content-panel-body {
  background-color: transparent;
}
.dashboard-home {
  .row {
    margin: 30px 0;

    .card {
      flex-direction: row;
      background-color: transparent;
      border-color: var(--text-color-dark);
      align-items: center;
      height: 100px;
      padding: 10px;

      & > * {
        height: max-content;
        width: 100%;
        text-align: left;
      }

      .count {
        flex: 25%;
        width: 25%;
        min-width: 50px;
        text-align: center;

        & > * {
          color: var(--color-primary);
        }
      }
    }
  }
}
