@import "~bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500;700&display=swap%27');

/* Global CSS */

a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1 {
    font-family: 'Reem Kufi', sans-serif;
}

body {
    font-family: 'Reem Kufi', sans-serif;
}