@import "~bootstrap/scss/bootstrap-grid.scss";

/* Global CSS */
.container {
    max-width: 1060px;
    margin: 10px auto;
}


a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1 {
    font-family: 'Reem Kufi';
}

.button{
    font-family: Roboto;
    color: #fff;
    background: #A42C23;
    text-align: center;
    width: auto;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #A42C23;
    font-size: 18px;
}

.button:hover{
    color: #fff;
    background: #262626;
    border: 1px solid #262626;
    transition: 300ms;
}
