.Hero {
  height: calc(100vh - 10rem);

  .row {
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__container-text {
    &__title {
      margin: 0;
      span {
        color: var(--color-primary);
      }
    }

    &__text {
      margin: 3rem 0;
    }
  }

  &__container-image {
    position: absolute;
    right: calc(100% / 12);
    z-index: -1;

    img {
      width: 100%;
      height: 600px;
      border-radius: 0px 70px 0px 0px;
      object-fit: cover;
      transform: scaleX(-1);
    }
  }
}


footer {
  margin-top: 0;
}